.container {
    width: 1000px;
    margin: 0 auto;
}

.sSlider {
    position: relative;
    text-align: center;
    width: 800px;
    overflow: hidden;
}
#sSlider-wr {
    width: 9999px;
    height: 300px;
    position: relative;
    transition: transform 400ms ease;
}
.sSlide {
    float: left;
    width: 800px;
    overflow: hidden;
    position: relative;
}


.sSlider .arrow {
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-family: Tahoma;
}
.sSlider .arrow-prev {
    left: 5px;
}
.sSlider .arrow-next {
    right: 5px;
}
.sSlider .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 7px;
    background: #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.sSlider .circle.active,
.sSlider .circle:hover {
    background: #89d86d;
}