.container {
    width: 1000px;
    margin: 0 auto;
}

.sSlider {
    position: relative;
    text-align: center;
}
.sSlider .arrow {
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-family: Tahoma;
}
.sSlider .arrow-prev {
    left: -30px;
}
.sSlider .arrow-next {
    right: -30px;
}
.sSlider .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 7px;
    background: #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.sSlider .circle.active,
.sSlider .circle:hover {
    background: #89d86d;
}